h1{
  font-family: 'Lato', sans-serif;
  font-style: light;
}


#about_blue{
  background-color: #fce1e0;
  font-family: 'Lato';
  border: 3px solid black ;
  width: 50%;
  padding: 10px;
}
#page_content{
  width: 60%;
  border: 5px dashed pink;
  font-family: 'Lato', sans-serif;
  padding: 10px;
}
